{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <br>
    <form method="POST">
      {% csrf_token %}
      {{ form.errors }}
      {{ form.name|as_crispy_field }}
      {{ form.description|as_crispy_field }}
      {{ form.snippet|as_crispy_field }}
      {{ form.language|as_crispy_field }}
      {{ form.public|as_crispy_field }}
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>
{% endblock %}